[submodule "data/covid-19-data"]
	path = data/covid-19-data
	url = https://github.com/nytimes/covid-19-data.git
[submodule "data/COVID-19"]
	path = data/COVID-19
	url = https://github.com/CSSEGISandData/COVID-19.git
